__pycache__
.cache
.coverage
.coverage.*
.dockerignore
.git
.Python
.tox
.venv
.vscode
*,cover
*.log
*.pyc
*.pyd
*.pyo
coverage.xml
db.sqlite3
Dockerfile
env
pip-delete-this-directory.txt
pip-log.txt
venv
